#selection-info {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
    border-top: 1px solid #ddd;
}

#selection-info.hidden {
    display: none;
}

#selection-info ol {
    margin-bottom: 0.5em;
}

#selection-info table {
    font-size: 0.75em;
    margin-bottom: 0.5em;
}

.routes {
    max-width: 300px;
}

.locate-icon {
    cursor: pointer;
    width: 1.25em; 
    height: 1.25em;
    vertical-align: -0.2em;
}

.warning i {
    color: red;
    font-weight: bolder;
}

.tags-table td.important {
    font-weight: bold;
}

.tag-edit-actions button {
    margin-left: 0.5em;
    font-size: 0.75em;
    font-weight: bold;
    cursor: pointer;
}

.icon-button {
    vertical-align: middle;
    text-align: center;
    line-height: 1em;
    font-size: 0.8em;
    padding: 0.1em 0.5em;
}

span.loading-indicator {
    display: inline-block;
}

.spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

